.post__con{
    display: flex;
    border-bottom: 0.5px solid#cdd1d3 ;

}

.post__left{
    flex: 0.1;
    padding: 10px 12px;
}

.post__left > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.post__right{
    flex: 0.9;
}

.post__h{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.post__h > .MuiSvgIcon-root{
    color: gray;
    margin-right: 10px;
}

.disname > small{
    color: gray;
    margin-left: 10px;
    
}

.post_im{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_im > img {
    object-fit: contain;
    max-width: 500px;
    max-height: 500px;
    border-radius: 15px;
    margin-top: 15px;
}

.post__icon{
    display: flex;
    justify-content: center;
    padding-bottom: 10px ;
    
}

.post__icon > .MuiSvgIcon-root{
    margin-top: 15px ;
    margin-right: 80px;
    color: rgb(159, 159, 160);
    font-size: 20px;
}
