* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  
}

.app{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

* .MuiSvgIcon-root{
  cursor: pointer;
}



* button{
  cursor: pointer;
}